<!-- ##### Header Area Start ##### -->
<header class="header-area" id="top">
  <!-- Navbar Area -->
  <div class="oneMusic-main-menu">
    <!-- ngSkipHydration -->
    <!-- breakpoint-off -->
    <div ngSkipHydration class="classy-nav-container breakpoint-off">
      <div class="container">
        <!-- Menu -->
        <nav class="classy-navbar justify-content-between" id="oneMusicNav">
          <!-- Nav brand -->
          <a href="/" class="nav-brand"
            ><img src="../../../../assets/img/core-img/logo.png" alt=""
          /></a>

          <!-- Navbar Toggler -->
          <div class="classy-navbar-toggler">
            <span class="navbarToggler"
              ><span></span><span></span><span></span
            ></span>
          </div>

          <!-- Menu -->
          <div class="classy-menu">
            <!-- Close Button -->
            <div class="classycloseIcon">
              <div class="cross-wrap">
                <span class="top"></span><span class="bottom"></span>
              </div>
            </div>

            <!-- Nav Start -->
            <div class="classynav">
              <ul>
                <li>
                  <a
                    routerLink="/home"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    >Home</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/albums"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    >Albums</a
                  >
                </li>
                <!-- <li>
                      <a href="#">Pages</a>
                      <ul class="dropdown">
                        <li><a href="index.html">Home</a></li>
                        <li><a href="albums-store.html">Albums</a></li>
                        <li><a href="event.html">Events</a></li>
                        <li><a href="blog.html">News</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="elements.html">Elements</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li>
                          <a href="#">Dropdown</a>
                          <ul class="dropdown">
                            <li><a href="#">Even Dropdown</a></li>
                            <li><a href="#">Even Dropdown</a></li>
                            <li><a href="#">Even Dropdown</a></li>
                            <li>
                              <a href="#">Even Dropdown</a>
                              <ul class="dropdown">
                                <li><a href="#">Deeply Dropdown</a></li>
                                <li><a href="#">Deeply Dropdown</a></li>
                                <li><a href="#">Deeply Dropdown</a></li>
                                <li><a href="#">Deeply Dropdown</a></li>
                                <li><a href="#">Deeply Dropdown</a></li>
                              </ul>
                            </li>
                            <li><a href="#">Even Dropdown</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li> -->
                <li>
                  <a
                    routerLink="/videos"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    >Videos</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/gallery"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    >Gallery</a
                  >
                </li>
                <li>
                  <a
                    routerLink="/contact"
                    routerLinkActive="active"
                    ariaCurrentWhenActive="page"
                    >Contact</a
                  >
                </li>
              </ul>

              <!-- Login/Register & Cart Button -->
              <div class="login-register-cart-button d-flex align-items-center">
                <!-- Login/Register -->
                <div class="login-register-btn mr-50">
                  <a href="#" id="loginBtn"
                    >Comprar Disco <i class="fa fa-shopping-cart"></i
                  ></a>

                  <a
                    href="#"
                    data-toggle="tooltip"
                    data-placement="top"
                    title="Behance"
                    ><i class="fa fa-behance" aria-hidden="true"></i
                  ></a>
                </div>
              </div>
            </div>
            <!-- Nav End -->
          </div>
        </nav>
      </div>
    </div>
  </div>
</header>
<!-- ##### Header Area End ##### -->
