<!-- ##### Latest Albums Area Start ##### -->
<section
  id="real-maravilloso-who-we-are"
  class="latest-albums-area section-padding-100"
>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div
          class="section-heading style-2 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <p>Real Maravilloso</p>
          <h2>Quienes Somos</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <div
          class="ablums-text text-center mb-70 wow fadeInUp"
          data-wow-delay="300ms"
        >
          <p>
            Real Maravilloso trae como propuesta la interpretación de la musica
            cubana y latian, como son: el Son, el Danzón, el Chachachá, la
            Rumba, el Bolero, la Bossa Nova, la Samba, el Joropo y el Jazz.
            Además, áreas de Operas, bandas sonoras de películas y piezas del
            Florkrore africano, fundamentalmente de la región de Kenia, con una
            sonoridad Vocal-Instrumental.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="albums-slideshow owl-carousel">
          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/dir_musical.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Directora Musical</h5>
              </a>
              <p>Yarneidis Llinse Kessel</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/producer.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Productor</h5>
              </a>
              <p>Jean-François Fourt</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/clarinete.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Clarinetista</h5>
              </a>
              <p>????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/trompeta4.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Trompetista</h5>
              </a>
              <p>???????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img
              src="../../../../../assets/img/band/trompeta_cesar.jpg"
              alt=""
            />
            <div class="album-info">
              <a href="#">
                <h5>Saxofón Alto</h5>
              </a>
              <p>Cesar López</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/percucion.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Percusionista</h5>
              </a>
              <p>??????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/flauta7.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Flautista</h5>
              </a>
              <p>??????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/flauta8.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Flautista</h5>
              </a>
              <p>??????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/trompeta9.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Trompetista</h5>
              </a>
              <p>??????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/trompeta10.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Trompetista</h5>
              </a>
              <p>??????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/trompeta11.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Trompetista</h5>
              </a>
              <p>??????</p>
            </div>
          </div>

          <!-- Single Album -->
          <div class="single-album wow fadeInUp" data-wow-delay="100ms">
            <img src="../../../../../assets/img/band/trompeta12.jpg" alt="" />
            <div class="album-info">
              <a href="#">
                <h5>Trompetista</h5>
              </a>
              <p>??????</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Latest Albums Area End ##### -->
