<!-- ##### Featured Artist Area Start ##### -->
<section
  id="real-maravilloso-about"
  class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed"
  style="background-image: url(../../../../../assets/img/bg-img/grupo.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
        <div class="featured-artist-thumb wow fadeInUp" data-wow-delay="200ms">
          <img src="../../../../../assets/img/about/about.png" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-8">
        <div
          class="featured-artist-content wow fadeInUp"
          data-wow-delay="300ms"
        >
          <!-- Section Heading -->
          <div class="section-heading white text-left mb-30">
            <p>Real Maravilloso</p>
            <h2>A PROPOSITO</h2>
          </div>
          <p>
            El gremio de músicos que representa nuestra propuesta posee
            experiencia artística dentro del sector profesional, con un mismo
            sentir en cuanto a realizar inquietudes musicales que hasta este
            entonces no habìan tenido la oportunidad de abordar. Creando entre
            todos un ensamble y un diálogo artístico que les permite demostar
            sus posibilidades técnico-interpretativas con alto nivel
            profesional.
          </p>
          <div class="oneMusic-buttons-area mb-100">
            <a
              href="https://open.spotify.com/artist/4lkh89v97lXEMvhy5tQCYL?si=tUHIowu_ThSVaqEm26ImMg"
              class="btn oneMusic-btn m-2"
              target="_blank"
              >Share <i class="fa fa-share"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
