<!-- ##### Featured Artist Area Start ##### -->
<section
  id="real-maravilloso-about"
  class="featured-artist-area section-padding-100 bg-img bg-overlay bg-fixed"
  style="background-image: url(../../../../../assets/img/bg-img/grupo.jpg)"
>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 col-lg-4">
        <div class="featured-artist-thumb wow fadeInUp" data-wow-delay="200ms">
          <img src="../../../../../assets/img/about/about.png" alt="" />
        </div>
      </div>
      <div class="col-12 col-md-7 col-lg-8">
        <div
          class="featured-artist-content wow fadeInUp"
          data-wow-delay="300ms"
        >
          <!-- Section Heading -->
          <div class="section-heading white text-left mb-30">
            <p>Real Maravilloso</p>
            <h2>A PROPOSITO</h2>
          </div>
          <p>
            El gremio de músicos que representa nuestra propuesta posee
            experiencia artística dentro del sector profesional, con un mismo
            sentir en cuanto a realizar inquietudes musicales que hasta este
            entonces no habìan tenido la oportunidad de abordar. Creando entre
            todos un ensamble y un diálogo artístico que les permite demostar
            sus posibilidades técnico-interpretativas con alto nivel
            profesional.
          </p>
          <div class="oneMusic-buttons-area mb-100">
            <a
              href="https://open.spotify.com/artist/4lkh89v97lXEMvhy5tQCYL?si=tUHIowu_ThSVaqEm26ImMg"
              class="btn oneMusic-btn m-2"
              target="_blank"
              >Share <i class="fa fa-share"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Featured Artist Area End ##### -->
<section class="bg-gray section-padding-100">
  <div class="container">
    <iframe
      width="100%"
      height="450"
      scrolling="no"
      frameborder="no"
      allow="autoplay"
      src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/1786493016%3Fsecret_token%3Ds-VyGpeEiMmMT&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
    ></iframe>
    <div
      style="
        font-size: 10px;
        color: #cccccc;
        line-break: anywhere;
        word-break: normal;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
          Garuda, Verdana, Tahoma, sans-serif;
        font-weight: 100;
      "
    >
      <a
        href="https://soundcloud.com/real-maravilloso-preview"
        title="Real Maravilloso"
        target="_blank"
        style="color: #cccccc; text-decoration: none"
        >Real Maravilloso</a
      >
      ·
      <a
        href="https://soundcloud.com/real-maravilloso-preview/sets/shango/s-VyGpeEiMmMT"
        title="Shango"
        target="_blank"
        style="color: #cccccc; text-decoration: none"
        >Shango</a
      >
    </div>
  </div>
</section>
