<!-- ##### Hero Area Start ##### -->
<section id="real-maravilloso-header" class="hero-area">
  <div class="hero-slides owl-carousel">
    <!-- Single Hero Slide -->
    <div
      class="single-hero-slide d-flex align-items-center justify-content-center"
    >
      <!-- Slide Img -->
      <div
        class="slide-img bg-img"
        style="background-image: url(../../../../../assets/img/hero-bg.png)"
      ></div>
      <!-- Slide Content -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slides-content text-center">
              <h6 data-animation="fadeInUp" data-delay="100ms">
                Música de cámara
              </h6>
              <h2 data-animation="fadeInUp" data-delay="300ms">
                Real Maravilloso <span>Real Maravilloso</span>
              </h2>
              <a
                data-animation="fadeInUp"
                data-delay="500ms"
                href="#real-maravilloso-who-we-are"
                class="btn oneMusic-btn mt-50"
                type="iframe"
                >Conozca más <i class="fa fa-hand"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Single Hero Slide -->
    <div
      class="single-hero-slide d-flex align-items-center justify-content-center"
    >
      <!-- Slide Img -->
      <div
        class="slide-img bg-img"
        style="background-image: url(../../../../../assets/img/front.jpg)"
      ></div>
      <!-- Slide Content -->
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="hero-slides-content text-center">
              <h6 data-animation="fadeInUp" data-delay="100ms">
                Música de cámara
              </h6>
              <h2 data-animation="fadeInUp" data-delay="300ms">
                Real Maravilloso <span>Real Maravilloso</span>
              </h2>
              <a
                data-animation="fadeInUp"
                data-delay="500ms"
                href="https://www.youtube.com/watch?v=VzlaDUBIf2c"
                class="btn oneMusic-btn mt-50 video-popup video--play--btn"
                >PLAY <i class="fa fa-play"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->
